html,body,.container
{}

html{
	background-color: #000;
	height: 100%;
}

body{
	background-color: transparent;
	height: 100%;
}

body>.table-container{
	color: #eee;
	background-image: url('/img/bc.png');
	/* height: 118%; */
}

.table-container.container-fluid
{
	display:table;
	width: 100%;
	/* height: 100%; */
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 100%;
}

.table-container>.row
{
	height: 100%;
	display: table-row;
}

.table-container>.row>.col-md-4.no-float, .col-md-9.no-float {
	float: none; /* thanks baxabbit */
}

.table-container>.row>.col-md-4
{
	display: table-cell;
	width: 25%;
}

.dance-animate
{
	background-image: url('/img/new.gif');
	background-position: top center;
	background-repeat: repeat-y;	
}

.table-container>.row>.col-md-9
{
	display: table-cell;
	width: 50%;
	float: none;
	background-color: rgba(0, 0, 0, 0.51);
}


.player .info>div {
	display: inline-block;
}

.list-feedbacks {
	margin-top: 20px;
}

.list-feedbacks .list-group-item {
	padding: 5px;
	margin-bottom: 10px;
}

.my-block {
	border-radius: 0px!important;
	border: 2px solid #ccc;
	background-color: rgba(2, 2, 2, 0.79);
}

form {
	padding: 5px;
}

.list-feedbacks .list-group-item .my-thumbs {
	max-width: 150px;
}

.sortesPanel>button.sort:after
{
	content: '\25bc';
}

.sortesPanel>button.sort.reverse:after
{
	content: '\25b2';
}

.sortesPanel {
	margin-top: 20px;
	padding: 5px;
}


.admin-edit-msg {
    color: #f00;
    /* position: relative; */
    /* bottom: 0px; */
    margin-top: 10px;
    font-style: italic;
}