.example {
	margin: 50px auto 0;
	width: 400px;
}

.player {
	/* background: transparent url("../img/spr.png") no-repeat scroll center top; */
	/* height: 162px; */
	/* position: relative; */
	min-width: 350px;
	width: 100%;
	z-index: 2;
	padding: 10px;
	/* background-color: rgb(68, 68, 68); */
	/* border: 2px solid #ccc; */
	margin-top: 20px;
}

.title, .artist {
	font-family: verdana;
	/* left: 167px; */
	/* position: absolute; */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.title {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	top: 23px;
	/* margin-left: 10px; */
}

.artist {
	color: #EEEEEE;
	font-size: 14px;
	top: 40px;
}

.player .glyphicon{

	font-size: 26px;
	line-height: 26px;
}

.pl {
	/* background: transparent url("../img/spr.png") no-repeat scroll -274px -175px; */
	cursor: pointer;
	/* height: 34px; */
	/* left: 270px; */
	/* position: absolute; */
	/* top: 20px; */
	/* width: 32px; */
	/* float: right; */
	margin-top: 11px;
	margin-left: 2px;
	vertical-align: top;
	display: inline-block;
}

.pl:hover {
	/* top: 21px; */
}

.cover {
	background: transparent url(../img/cover.jpg) no-repeat scroll center top;
	border-radius: 5px 5px 5px 5px;
	height: 94px;
	left: 20px;
	position: absolute;
	top: 20px;
	width: 94px;
}

.controls {
	cursor: pointer;
	/* height: 23px; */
	/* left: 167px; */
	/* position: absolute; */
	/* top: 65px; */
	/* width: 138px; */
	margin-top: 6px;
	margin-left: 20px;
	display: inline-block;
}

.controls .play, .controls .pause, .controls .rew, .controls .fwd {
	/* background: transparent url("../img/spr.png") no-repeat scroll 0 0; */
	float: left;
	/* height: 100%; */
	/* width: 33%; */
	margin: 5px;
}

.controls .play {
	background-position: -8px -171px;
}

.controls .pause {
	background-position: -8px -198px;
	display: none;
}

.controls .rew {
	/* background-position: -54px -171px; */
}

.controls .fwd {
	background-position: -100px -171px;
}

.controls .play:hover {
	background-position: -8px -170px;
}

.controls .pause:hover {
	background-position: -8px -197px;
}

.controls .rew:hover {
	background-position: -54px -170px;
}

.controls .fwd:hover {
	background-position: -100px -170px;
}

.Plhidden {
	display: none;
}

.controls .visible {
	display: block;
}

.volume {
	
	width: 112px;
	display: inline-block;
}

.my-slider {
	height: 10px;
	position: relative;
	background-color: rgba(255, 251, 251, 0.24);
	border: 1px solid #000;
	/* vertical-align: baseline; */
	float: right;
	margin-top: 20px;
}

.my-slider .ui-slider-handle {
	cursor: pointer;
	height: 14px;
	margin-left: -7px;
	position: absolute;
	top: -3px;
	/* left: -3px; */
	width: 14px;
	z-index: 3;
	background-color: #d80303;
	border: 1px solid #000;
	/* border-radius: 11px; */
}

.tracker {
	width: 100%;
	padding: 0px;
	margin-top: 5px;
}

.ui-slider-range {
	background: #af0606;
	margin-top: 0px;
	height: 100%;
	/* position: relative; */
	top: 0;
	box-sizing: initial;
	/* float: right; */
}

.playlist {
	/* background-color: #444; */
	/* border-radius: 5px 5px 5px 5px; */
	list-style-type: none;
	/* margin: -10px 0 0 2px; */
	padding-bottom: 10px;
	padding-top: 15px;
	position: relative;
	width: 100%;
	z-index: 1;
	/* bottom: -1px; */
	/* border: 2px solid #ccc; */
}

.playlist li {
	color: #EEEEEE;
	cursor: pointer;
	margin: 0 0 5px 15px;
}

.playlist li.active {
	font-weight: bold;
}


.player .info {
	display: block;
}

.player .artist:after {
	/* content: '-'; */
	/* margin: 10px; */
}
