.top-container>h2{
	float: left;
	margin-bottom: 20px;
}

.top-container>button{
	float: right;
	margin-top: 30px;
}

.customFileInput input[type="file"] {
	position: fixed;
	top: -1000px;
}

.imagesPanel>.imagesList img{
	height: 80px;
	/* max-width: 100px; */
	vertical-align: middle;
	/* margin: auto; */
	/* top: 0px; */
	/* bottom: 0px; */
	position: relative;
}

.imagesPanel>.imagesList>.img-wrapper{
	display: inline-block;
	position: relative;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 2px;
	/* height: 90px; */
	margin: 2px;
	vertical-align: middle;
	text-align: center;
}

.imagesPanel>.imagesList>.img-wrapper>span{
	font-size: 36px;
	position: absolute;
	left: 3%;
	top: 50%;
	background-color: rgba(255,255,255,0.9);
	border-radius: 40px;
	/* border: inset 0px #000; */
	z-index: 1;
	cursor: pointer;
	width: 94%;
	text-align: center;
	/*display: none;*/
	box-shadow: inset 0px 0px 3px #000;
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-khtml-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/* font-size: 20px; */
	/* height: 28px; */
	line-height: 0.8;
	margin-top: -18px;
	box-sizing: border-box;
}

.imagesPanel>.imagesList>.img-wrapper:hover>span{
	/*display: block;*/
	opacity: 1;
}

.imagesPanel>.imagesList>.img-wrapper>span:hover{
	background-color: #ECCFD4;
}

.imagesPanel>.fileInputs{
	margin-bottom: 10px;
	text-align: right;
}

.labelPanel>.labelList{
	margin-top: 11px;
}

.labelPanel>.labelList input{
	width: calc(100% - 20px);
	vertical-align: top;
	padding-right: 10px;
}

.labelList>.label-wrapper>span{
	font-size: 24px;
	margin-left: -12px;
	background-color: #fff;
	border-radius: 20px;
}

.labelList>.label-wrapper>span:hover{
	background-color: #F8C0C1;
	border-radius: 40px;
	cursor: pointer;
}

.labelPanel>.buttonWrapper{
	text-align: right;
}

.custom-panel>.panel-heading{
	padding: 0px;
}

.custom-panel>.panel-heading a{
	padding: 10px 15px;
	display: block;
}

.custom-panel>.panel-heading a:hover{
	background-color: rgba(0,0,0,0.1);
}

.custom-panel>.panel-collapse
{
	padding: 5px;
}

.imagesPanel>.imagesList>.img-wrapper>span>span:before {
	float: right;
}

.imagesPanel>.imagesList>.img-wrapper>span>span {
	/* float: right; */
}

.inline-custom-style>input{
	display: inline-block;  
	width: auto;
}

.category-icon-preview{
	max-width: 50px;
	max-height: 50px;
}

.wide-container{
	padding: 0px 10px;
}


.table-thump
{
	max-width: 150px;
	max-height: 150px;
}

.my-buttons-content>button {
    display: inline-block;
    margin: 3px;
}